/* #region theme */

.mppa,
.mppa.light {
  color-scheme: light;
  --paper: #ffffff;
  --board: #e0e0e0;
  --frame: #a0a0a0;
  --notes: #3f3f3f;
  --title: #000000;
}
.mppa.dark {
  color-scheme: dark;
  --paper: #000000;
  --board: #1f1f1f;
  --frame: #5f5f5f;
  --notes: #c0c0c0;
  --title: #ffffff;
}
.mppa {
  font-family: "Consolas", monospace;
}

/* #endregion */

/* #region utils */

.mppa {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  width: calc(100% - 1em);
  height: calc(100% - 1em);

  background-color: var(--board);
  color: var(--notes);
  user-select: none;
}

.mppa a {
  text-decoration: none;
  color: var(--notes);
  &.icon {
    --color: var(--frame);
  }
  &.icon:hover {
    --color: var(--notes);
  }
}

/* transparent grid */
.mppa .tp-grid {
  background-color: var(--paper);
}
.mppa .tp-grid::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: repeating-linear-gradient(
      90deg,
      black 0 var(--grid-size),
      white 0 calc(2 * var(--grid-size))
    ),
    repeating-linear-gradient(
      180deg,
      black 0 var(--grid-size),
      white 0 calc(2 * var(--grid-size))
    );
  background-blend-mode: difference;
  opacity: 0.1;
  pointer-events: none;
}
.mppa .fade-out {
  transition: opacity 1s;
  opacity: 0;
}

/* color picker */
.mppa #colorPicker {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  & > * {
    display: flex;
  }
  & > * > input {
    flex: 1 1 auto;
  }
  & > * > pre {
    flex: 0 0 6em;
    text-align: center;
    margin: 0;
    font-size: 1rem;
  }
}

/* #endregion */

/* #region titlebar */

.mppa > #titlebar {
  position: relative;
  flex: 0 0 auto;
  border: 1px solid var(--frame);
  border-radius: 0.2em;
  min-height: 1.5em;
  padding: 0.25em;
  display: flex;

  & > * {
    padding: 0.25em;
    display: flex;
  }
  & > .hide {
    display: none;
  }
  & > #upload {
    flex: 1 1 auto;
    & > span {
      display: none;
    }
  }
  & > .colors {
    flex: 1 1 auto;
    flex-wrap: wrap;
    gap: 0.25em;
  }
  & > .colors > a {
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --grid-size: 4px;

    & > span {
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      left: 0;
      top: 0;
      border: 1px solid var(--frame);
      background-color: var(--color);
      box-sizing: border-box;
      pointer-events: none;
    }
    &:hover > span {
      width: 120%;
      height: 120%;
      left: -10%;
      top: -10%;
      border-radius: 0.3em;
    }
    &:active > span {
      border-color: var(--title);
    }

    &.cross-out > span {
      width: 70%;
      height: 70%;
      left: 15%;
      top: 15%;
    }
    &.cross-out:hover > span {
      width: 84%;
      height: 84%;
      left: 8%;
      top: 8%;
    }
    &.cross-out::after {
      content: "";
      position: absolute;
      background-color: var(--notes);
      width: 142%;
      left: -20%;
      height: 1px;
      top: calc(50% - 0.5px);
      rotate: 45deg;
    }
  }
  & > .colors[merge-color] > a {
    cursor: var(--cursor), cell;
  }
  & > #menu {
    flex: 0 0 1.5em;
    text-align: center;
    &:hover {
      --color: var(--title);
      background-color: var(--frame);
      border-radius: 0.2em;
    }
  }
}
.mppa.dragover > #titlebar {
  & > #upload,
  & > #upload.hide {
    display: flex;
    justify-content: center;
    align-items: center;
    & > span {
      display: block;
    }
    & > input {
      display: none;
    }
  }
  & > .colors {
    display: none;
  }
}
& .dialog > .header {
  &.titlebar {
    display: flex;
    flex-wrap: nowrap;
    & > .color {
      flex: 0 0 3em;
      height: 3em;
      line-height: 3em;
      background-color: var(--paper);
      border-radius: 1.5em;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      --grid-size: 8px;

      &::after {
        content: "";
        position: absolute;
        padding: 1em;
        border: 0.05em solid var(--paper);
        border-radius: 1.05em;
        left: 0.45em;
        top: 0.45em;
        background-color: var(--color);
      }
      &:hover::after {
        border-color: var(--frame);
      }
      &:active::after {
        border-color: var(--title);
      }
    }
    & > label {
      flex: 1 1 auto;
    }
  }
  & .titlebar.layer-num {
    margin: 0.5em;
    & > button {
      font-family: inherit;
      font-weight: bold;
      cursor: pointer;
      margin: -0.3em;
    }
  }
}

/* #endregion */

/* #region archives */

.mppa > #archives {
  position: relative;
  flex: 1 1 32em;
  overflow: hidden auto;
  --grid-size: 16px;

  & > #images {
    position: relative;
    padding: 0.5em;
    min-height: 100%;
    box-sizing: border-box;
    user-select: none;
    cursor: crosshair;

    & > canvas {
      position: relative;
      max-width: 100%;
      image-rendering: pixelated;
      &.loading {
        width: 64px;
        height: 64px;
      }
      &.zoom {
        width: 100%;
      }
    }
  }
  & > #selectArea {
    position: absolute;
    border: 1px dotted var(--notes);
    box-shadow: 0 0 0.5em 0.2em var(--board);
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    display: none;
    &.show {
      display: block;
    }
  }
}

/* #endregion */

/* #region messages */

.mppa > #messages {
  position: absolute;
  min-width: 8em;
  min-height: 2em;
  bottom: 0.5em;
  right: 0.5em;
  display: flex;
  flex-direction: column-reverse;
  pointer-events: none;
  & > pre {
    position: relative;
    padding: 0.2em 0.5em;
    margin: 0.2em;
    backdrop-filter: blur(3px);
    z-index: 200;
    font-size: 1.2em;

    &.debug {
      display: none;
      color: var(--notes);
    }
    &.info {
      color: var(--title);
    }
    &.warn {
      color: yellow;
    }
    &.error {
      color: red;
    }
  }
  & > pre::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--paper);
    opacity: 0.5;
    z-index: -1;
  }
}

/* #endregion */

/* #region dialog */

.mppa .modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  &.show {
    display: flex;
  }
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(3px);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--board);
    opacity: 0.3;
  }
  & > .dialog {
    min-width: 12em;
    width: 70%;
  }
}

.mppa .dialog {
  max-height: 100%;
  overflow: auto;

  & > :first-child,
  & > :first-child::before {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  & > :last-child,
  & > :last-child::before {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }

  & > * {
    background-color: var(--board);
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    z-index: 1;
    &:hover {
      color: var(--title);
    }
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      left: 50%;
      top: 0;
      background-color: var(--notes);
      opacity: 0;
      z-index: -1;
    }
    &:hover::before {
      width: 100%;
      left: 0;
      opacity: 0.1;
      transition: width 0.3s, left 0.3s, opacity 0.6s;
    }
  }
  & > a > * {
    pointer-events: none;
  }
  & > *.hr {
    border-bottom: 1px solid var(--frame);
  }
  & > * > small {
    /* position: absolute;
    right: 1em; */
    float: right;
    color: var(--frame);
  }
  & > label.header,
  & > .header > label {
    text-align: center;
    white-space: nowrap;
    & > * {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1em;
      display: block;
      padding: 0.2em 1em;
    }
  }
  & > .footer {
    padding-top: 0.4em;
    &:hover::before {
      top: -0.6em;
      height: calc(100% + 0.6em);
    }
    border-bottom: 1px solid var(--frame);
    max-height: 3em;
    transition: max-height 0.2s, padding-top 0.2s, padding-bottom 0.2s;
    &.fold {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

/* #endregion */
