.mppa,
.mppa.light {
  color-scheme: light;
  --board: #e0e0e0;
  --paper: #ffffff;
  --title: #000000;
  --notes: #3f3f3f;
  --frame: #ffdb18;
  --glare: #ff65e9;
  --paint: #65fefe;
}
.mppa.dark {
  color-scheme: dark;
  --board: #1f1f1f;
  --paper: #000000;
  --title: #ffffff;
  --notes: #c0c0c0;
  --frame: #ffdb18;
  --glare: #ff65e9;
  --paint: #2776a7;
}

.mppa {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  width: calc(100% - 1em);
  height: calc(100% - 1em);

  background-color: var(--board);
  color: var(--notes);
}
.mppa a {
  text-decoration: none;
}

.mppa .tp-grid {
  background: var(--paper);
}
.mppa .tp-grid::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: repeating-linear-gradient(
      0deg,
      black 0 var(--grid-size),
      white 0 calc(2 * var(--grid-size))
    ),
    repeating-linear-gradient(
      90deg,
      black 0 var(--grid-size),
      white 0 calc(2 * var(--grid-size))
    );
  background-blend-mode: difference;
  opacity: 0.1;
  pointer-events: none;
}

/* titlebar */

.mppa > #titlebar {
  border: 1px dashed var(--notes);
  height: 3em;
  line-height: 3em;

  & > * {
    pointer-events: none;
    white-space: nowrap;
  }
  & > .drag-tips {
    display: none;
  }
  &.dragover > .drag-tips {
    display: block;
    text-align: center;
  }
  &.dragover > .controller {
    display: none;
  }

  & > .controller > * {
    padding: 0 0.5em;
  }
  & > .controller > a {
    pointer-events: visible;
  }
}

/* palettle */

.mppa > #palettle {
  border: 1px solid var(--notes);
  flex: 0 1 auto;
  padding: 0.3em;
  --grid-size: 4px;

  & > a {
    position: relative;
    display: inline-block;
    padding: 0.5em;
    margin: 0 0.1em;
    border: 1px solid var(--notes);
  }
}

/* textures */

.mppa > #textures {
  flex: 1 1 32em;
  min-height: 6em;
  padding: 0.3em;
  position: relative;
  overflow: hidden;
  --grid-size: 16px;

  & > #images {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    user-select: none;

    /* scrollbar-width: 0;
    &::-webkit-scrollbar {
      display: none;
    } */

    & > canvas {
      position: relative;
      margin: 0 0.1em;
      border: 1px solid var(--notes);
      max-width: calc(100% - 2px - 0.2em);
      cursor: crosshair;

      &.loading {
        width: 64px;
        height: 64px;
      }
    }
  }
}
