/* theme */
.mppa,
.mppa.light {
  color-scheme: light;
  --paper: #ffffff;
  --board: #e0e0e0;
  --frame: #a0a0a0;
  --notes: #3f3f3f;
  --title: #000000;
}
.mppa.dark {
  color-scheme: dark;
  --paper: #000000;
  --board: #1f1f1f;
  --frame: #5f5f5f;
  --notes: #c0c0c0;
  --title: #ffffff;
}

.mppa {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  width: calc(100% - 1em);
  height: calc(100% - 1em);

  background-color: var(--board);
  color: var(--notes);
}
.mppa a {
  text-decoration: none;
  color: var(--notes);
}

/* transparent grid */
.mppa .tp-grid {
  background-color: var(--paper);
}
.mppa .tp-grid::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: repeating-linear-gradient(
      0deg,
      black 0 var(--grid-size),
      white 0 calc(2 * var(--grid-size))
    ),
    repeating-linear-gradient(
      90deg,
      black 0 var(--grid-size),
      white 0 calc(2 * var(--grid-size))
    );
  background-blend-mode: difference;
  opacity: 0.1;
  pointer-events: none;
}

/* dialog */
.mppa .dialog {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(6px);

  &.show {
    display: flex;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: var(--board);
    opacity: 0.3;
  }

  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > :first-child {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom: 1px solid var(--frame);
  }
  & > :last-child {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
  & > * {
    background-color: var(--board);
    min-width: 12em;
    width: 70%;
    padding: 1em;
    position: relative;
    &:hover {
      color: var(--title);
    }
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      left: 50%;
      top: 0;
      background-color: var(--notes);
      opacity: 0;
      z-index: -1;
    }
    &:hover::before {
      width: 100%;
      left: 0;
      opacity: 0.1;
      transition: width 0.2s, left 0.2s, opacity 0.6s;
    }

    & > small {
      float: right;
      color: var(--frame);
    }
  }
}

/* color picker */
.mppa #colorPicker {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  & > * {
    display: flex;
  }
  & > * > input {
    flex: 1 1 auto;
  }
  & > * > pre {
    flex: 0 0 6em;
    text-align: center;
    margin: 0;
    font-size: 1rem;
  }
}

/* titlebar */
.mppa > #titlebar {
  border: 1px dashed var(--frame);
  height: 3em;
  line-height: 3em;
  cursor: pointer;
  &:hover {
    color: var(--title);
  }

  & > * {
    pointer-events: none;
    white-space: nowrap;
  }
  & > .drag-tips {
    display: none;
  }
  &.dragover > .drag-tips {
    display: block;
    text-align: center;
  }
  &.dragover > .controller {
    display: none;
  }

  & > .controller > * {
    padding: 0 0.5em;
  }
  & > .controller > a {
    pointer-events: visible;
  }
}

/* palette */
.mppa > #palette {
  border: 1px solid var(--frame);
  flex: 0 1 auto;
  padding: 0.3em;
  --grid-size: 4px;

  & > .colors > a {
    position: relative;
    display: inline-block;
    padding: 0.5em;
    margin: 0 0.15em;

    & > span {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border: 1px solid var(--frame);
      box-sizing: border-box;
      background-color: var(--color);
      pointer-events: none;
    }
    &:hover > span {
      width: 120%;
      height: 120%;
      left: -10%;
      top: -10%;
      border-radius: 0.3em;
      border-color: var(--title);
    }

    &.cross-out > span {
      width: 70%;
      height: 70%;
      left: 15%;
      top: 15%;
    }
    &.cross-out:hover > span {
      width: 84%;
      height: 84%;
      left: 8%;
      top: 8%;
    }
    &.cross-out::after {
      content: "";
      position: absolute;
      background-color: var(--notes);
      width: 142%;
      left: -20%;
      height: 1px;
      top: calc(50% - 0.5px);
      rotate: 45deg;
    }
  }

  & .dialog .color {
    float: left;
    height: 3em;
    width: 3em;
    line-height: 3em;
    background-color: var(--paper);
    border-radius: 1.5em;
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      padding: 1em;
      border-radius: 1em;
      left: 0.5em;
      top: 0.5em;
      background-color: var(--color);
    }
  }
  & .dialog .props {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    & > * {
      line-height: 1em;
      display: block;
      padding: 0.2em 1em;
    }
  }
  & .dialog #submit {
    padding-top: 0;
    border-bottom: 1px solid var(--frame);
  }
}

/* archives */
.mppa > #archives {
  flex: 1 1 32em;
  min-height: 6em;
  padding: 0.3em;
  position: relative;
  overflow: hidden;
  --grid-size: 16px;

  & > #images {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    user-select: none;

    /* scrollbar-width: 0;
    &::-webkit-scrollbar {
      display: none;
    } */

    & > canvas {
      position: relative;
      margin: 0 0.1em;
      border: 1px solid var(--frame);
      max-width: calc(100% - 2px - 0.2em);
      cursor: crosshair;

      &.loading {
        width: 64px;
        height: 64px;
      }
    }
  }
}
